<footer>
  <div class="footer-wrap">
    <div class="footer-tagline">
      <p>{{ site.data.settings.footer }}</p>
    </div>
    <div class="social-media">
      <nav>
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" target="_blank">
            {% if item.icon == 'substack' %}
              <svg class="substack-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 448 448" fill="currentColor"><path d="M0 0h448v62.79H0V0zm0 229.08h448v218.92L223.69 344.77 0 448V229.08zM0 114.49h448v62.79H0v-62.79z"/></svg>
            {% else %}
              {% if item.icon == 'linktree' %}
                <svg class="linktree-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 100 100" fill="currentColor"><rect x="45" y="0" width="10" height="100"/><rect x="0" y="45" width="100" height="10"/><rect x="12" y="12" width="10" height="76" transform="rotate(45 50 50)"/><rect x="76" y="12" width="10" height="76" transform="rotate(-45 50 50)"/></svg>
              {% else %}
                <i class="fa fa-{{ item.icon }}" aria-hidden="true"></i>
              {% endif %}
            {% endif %}
          </a>
        {% endfor %}
      </nav>
    </div>
  </div>
</footer>
