---
layout: default
---

<article class="sheet">
  <header class="sheet-head"><h1 class="sheet-title">Writing</h1></header>
  <ol class="ledger ledger-plain">
    {% for post in site.posts %}
    <li>
      <a class="ledger-row" href="{{ site.github.url }}{{ post.url }}">
        <span class="ledger-name">{{ post.title }}</span>
        <time class="ledger-blurb" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %B %Y" }}</time>
      </a>
    </li>
    {% endfor %}
  </ol>
</article>
